* {box-sizing: border-box;}

/* @font-face {
    font-family: 'DHregular';
    src: url('fonts/DatingHistoria-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DHbold';
    src: url('fonts/DatingHistoria-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DHlight';
    src: url('fonts/DatingHistoria-Light.woff2') format('woff2');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'DHblack';
    src: url('fonts/DatingHistoria-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'childrentwiny';
    src: url('fonts/Children\ Twiny.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alexandria';
    src: url('fonts/AlexandriaFLF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ccr';
    src: url('fonts/Chocolate\ Covered\ Raindrops.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    --color-light: #F3E1D5;
    --color-dark: #131313;
    --color-accent: #2E748A;
    --font--serif-heading: 'ccr', 'Times New Roman', Times, serif;
    --font--serif-body: 'alexandria', 'Times New Roman', Times, serif;
}

body {
    background-color: var(--color-light);
    color: var(--color-dark);
    font-family: var(--font--serif-body);
    margin: 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

body nav {
    background-color: var(--color-accent);
    z-index: 1;
}

nav {
    position: fixed;
    width: 100%;
    top: 0; 
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--color-accent);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--color-light);
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: var(--color-dark);
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 46px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: var(--color-accent);
    color: var(--color-dark);
    border: none;
  }
  
  .openbtn:hover {
    color: var(--color-light);
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

main {
    margin: 65px 35px 45px;
    max-width: 100vw;
}

main div h1 {
    color: var(--color-dark);
    font-family: var(--font--serif-heading);
    font-size: 3rem;
    text-align: center;
}

main div h2 {
    color: var(--color-dark);
    font-family: var(--font--serif-body);
    line-height: 1.3;
    text-align: center;
}

body main div figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main div p {
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.4;
}

main div p.time {
    font-size: 1.3rem;
}

main div ul li {
    line-height: 1.4rem;
}

.parent figure:nth-child(odd) {
    rotate: -20deg;
  }
.parent figure:nth-child(even) {
    rotate: 20deg;
  }

main div figure.flip:hover {
    transform: rotateY(180deg);
    transition: 3s;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    background-color: var(--color-accent);
    color: var(--color-light);
    font-family: var(--font--serif);
    height: 30px;
    margin: 20px 0 0;
    padding: 7px;
}

footer p a {
    text-decoration: none;
    color: var(--color-light);
}